@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

theme {
  --background-image-gradient-radial: radial-gradient(var(--tw-gradient-stops));
  --background-image-gradient-conic: conic-gradient(
    from 180deg at 50% 50%,
    var(--tw-gradient-stops)
  );
}

body {
  background: var(--background);
  color: var(--foreground);
}